@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --gold: #F4BD76;
    --gol-1: #F6CD8F;
    --gray: #FFFFFF80;
    --gray-1: #F7D9D990;
    --black: #1A1B1F;
    --black-1: #30353B;
    --blue: rgba(20, 20, 255, 0.39);
    --blue-1: rgba(28, 255, 7, 0.5);
    --green: rgb(42, 194, 47);
    --red: rgb(255, 51, 51);
    --shadow: 0 8px 8px;
    --color-shadow: #00000033;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: 'Barlow', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px;
    height: auto;
}

.container--modifier{
    width: 70%;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, var(--black) 0%, var(--black-1) 100%);
}

.nav-hero{
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}

.logo-name{
    font-size: 24px;
}

.link{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}

.link-active{
    color: var(--gold);
    font-weight: 500;
}



.point, .logo-active{
    color: var(--gold);
}

.hero-main{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    padding: 0;   
}

.mockup{
    object-fit: cover;
    height: calc(100vh - 70px);
    width: 60%;
}

.title{
    font-size: 46px;
    font-weight: 300;
    color: #fff;
}

.title-active{
    color: var(--gold);
    font-weight: 700;
}

.copy{
    font-size: 24px;
    color: var(--gray);
    text-shadow: var(--shadow) var(--color-shadow);
    margin: 15px 0;
}

.copy-active{
    font-weight: 700;
}

.cta{
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg, var(--red) 0%, var(--gold) 100%);
    text-decoration: none;
    font-weight: 500;
    color: rgb(46, 16, 16);
    border-radius: 10px;
    box-shadow: var(--shadow) var(--color-shadow);
}

/*servicios*/
.services{
    background: #a5a79e;
}

.subtitle{
    font-size: 42px;
}

.subtitle--modifier{
    text-align: center;
    margin-bottom: 12px;
}

.copy-section{
    color: var(--black-1);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
}

.copy-section--modifier{
    text-align: center;
    margin-bottom: 30px;
}

.container-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cards{
    width: calc(95% / 3);
    padding: 20px;
    background: #c1c7ac;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    margin-bottom: 50px ;
    box-shadow: 0 0 10px;
    text-align: left;
}

.card-img{
    width: 98%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-text{
    width: 95%;
    margin-left: 0 auto;
}

.card-list{
    color: var(--black-1);
    font-weight: 700;
    margin: 25px 0 12px;
    font-size: 20px;
}

.card-title{
    font-size: 30px;
    font-weight: 600;
    color:rgb(97, 139, 5);
    margin-bottom: 8px;
}

.card-copy{
    color: rgb(7, 7, 7);
    margin-bottom: 20px;
}

.card-button{
    display: block;
    background: linear-gradient(180deg, var(--red) 0%, var(--gold) 100%);
    border-radius: 10px;
    text-decoration: none;
    width: 100%;
    color: var(--black-1);
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}

.card-date{
    color: rgb(61, 82, 14);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}